html {
    height: 100%;
}

body {
    font-family: Arial;
    background-color: #ccc;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* Header Stuff: */
#header {
    background-color: #ffcc99;
    padding: .7rem;
    border-bottom: 4px solid black;
}

#header a {
    color: #555;
    font-weight: bold;
    margin: 0 0.5rem;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

.mtglogo {
    width: 118px;
    height: 60px;
    margin-right: 1rem;
}

.mitlogo {
    height: 36px;
    width: auto;
}
/* End Header stuff */

.page {
    padding: 0 1rem;
    background-color: white;
    flex: 1 1 auto;
}

/* banner stuff: */
.show_banner {
    padding: 0;
    border: none;
    margin: 0 -1rem;
    background-color: black;
}

.show_banner > img {
    width: auto;
    max-width: 100%;
    height: auto;
}
/* end banner stuff */

/* Show header stuff */
#show_header {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
}

#show_header > img {
    margin-right: 1rem;
}

section {
    margin: 1rem 0;
}

#title {
    margin-top: 0;
}

#credits {
    white-space: pre-wrap;
    font-weight: 600;
}

#summary {
    max-width: 1000px;
}

#performance_dates {
    font-weight: 600;
}
/* end show header stuff */

/* Table stuff */
.table_container:after {
    content: "";
    display: table;
    clear: both;
}

table {
    float: left;
    border-collapse: collapse;
    margin: 1rem;
}

td {
    padding: 0.5rem 0.5rem 0;
    min-width: 150px;
    max-width: 225px;
    vertical-align: top;
    white-space: pre-wrap;
}

td.role {
    text-align: right;
}

td.name {
    font-weight: 600;
}

td.name > a {
    text-decoration: none;
    color: black;
}

td.name > a:hover {
    color: #993333;
    text-decoration: underline;
}

th {
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
}
/* end table stuff */

/* production photo stuff */
#photos_container {
    padding: 2rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.production_photo {
    height: auto;
    width: auto;
    max-height: 130px;
    margin: 0 2px;
}
/* end production photo stuff */

/* Show list stuff */
.show_summary {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0;
    border-bottom: 1px solid black;
}

.summary_graphic >img {
    width: 130px;
    height: auto;
    margin-right: 1rem;
}

.summary_slot {
    margin-bottom: 0.5rem;
    color: #555;
}

.summary_title {
    text-decoration: none;
    color: #993333;
    font-size: 150%;
}

.summary_credits {
    white-space: pre-wrap;
    margin: 0.7rem 0 1rem;
}

.summary_dates {
    font-weight: bold;
}

.summary_venue {
    margin-top: 0.5rem;
    font-size: 90%;
}

.summary_venue > a {
    text-decoration: none;
    color: black;
}

.summary_venue > a:hover {
    color: #993333;
    text-decoration: underline;
}
/* end show list stuff */
